
<div class="big-spacer"></div>
  <div class="card center-card-div">
    <div class="text-aligner">
     <img class="form-logo" src="<%= asset_path( 'logo.png' ) %>" />
       <h2>Login</h2>
     </div>
<%= form_tag sessions_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <span><%= submit_tag 'login' %></span>
<% end %>
</div>
