<h1>Your shared wallets!</h1>

<% if !@shared_wallets.empty? %>
  <h3><% @shared_wallets.each do |wallet| %>
    <ul>
    <li>Wallet name: <%= link_to wallet.name, user_shared_wallet_path(@user, wallet) %></li> 
    <li>Wallet amount: <%= wallet.total %></li> 
    <li>Created on: <%= wallet.created_at %></li> 
    <li>Category: <%= wallet.tag %></li>
    </ul>
  <% end %></h3>
<% else %>
  <h3>You dont have any shared wallets!</h3>
<% end  %>
<hr>
<%= link_to 'Dashboard', user_path(@user) %>