<h1>new user!</h1>

<%= form_for @user do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>
    <%= f.label "Date of birth" %>
    <%= f.date_field :dob, max: Date.today %><br>
    <%= f.label :city %>
    <%= f.text_field :city %><br>
    <%= f.label :goal %>
    <%= f.number_field :goal %>
    <%= f.label :budget %>
    <%= f.number_field :budget %>
    <%= f.label :username %>
    <%= f.text_field :username%>
    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.submit %>  
<% end %>