
 <div class="card center-card-div" id="no-padding">
  <div class="image-container">
 <img  src="<%= asset_path( 'background.jpeg' ) %>" />
 <img id="center-img" src="<%= asset_path( 'user.png' ) %>" />
</div>
 <ul class="nav-link-items group">
<li><%= link_to 'View your expenses', user_personal_expenses_path(@user) %></li>
<li><%= link_to 'New expense', new_user_personal_expense_path(@user) %></li>
<li><%= link_to 'View your wallets', user_shared_wallets_path(@user) %></li>
</ul>
 <div class="add-padding">
<p><b>Name: </b><%= @user.first_name %> <%= @user.last_name %></p>
<p><b>Age: </b><%= @user.age %></p>
<p><b>City:</b> <%= @user.city %></p> 
<p><b>Budget left: </b>£<%= @user.budget_left %></p>
<p><b>Savings Goal: </b>£<%= @user.goal %></p>
<%# if (@user.update_saving_month).integer? %>
<p><b>Savings so far: </b>£<%= @user.update_saving_month %></p>
<%# else %>
<p><b>Savings so far: </b><%= @user.update_saving_month %></p>
<%# end %>
<p><b>This month you spent so far: </b>£<%= @user.current_month_expenses_total %></p>
</div>
</div>
