
<div class="card center-card-div">
 <%= form_for @personal_expense do |f| %>
    <%= hidden_field_tag :"personal_expense[user_id]", @user.id %>
    <%= f.label "Description" %>
    <%= f.text_field :name %>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
    <%= f.label :category %>
    <%= f.fields_for :category_attributes do |u| %>
      <%= u.text_field :name, {list: :category} %>
         <datalist id="category">
               <% Category.all.each do |c| %>
                  <option value="<%= c.name %>"></option>
               <% end %>
         </datalist> 
      <% end %>
   <%=  %>
   <div class="spacer"></div>
      <span id="dark-button"><%= f.submit %></span>
 <% end %>
</div>