<div class="big-spacer"></div>
<div class="card center-card-div">
<table class="striped">
            <caption><h3><%= @personal_expense.name.humanize %></h3></caption>
            <thead>
              <tr>
                <th>Category</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th> <%= link_to 'All expenses', user_personal_expenses_path(@user) %></th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td><%= @personal_expense.category_name%></td>
                <td> <%= @personal_expense.amount %></td>
         
              </tr>
      
            </tbody>
          </table>
  

          <span class="button primary change-display"> <%= link_to 'Delete expense', personal_expense_path(@personal_expense), { method: "delete" } %></span>
<div class="spacer"></div>

 <span class="button primary change-display"><%=link_to 'Edit expense', edit_user_personal_expense_path(@personal_expense.user_id, @personal_expense), { method: "get" } %></span>


</div>










<!-- data: { confirm: 'Are you sure?' } -->

