<h1><%= @personal_expense.name.humanize %></h1>
<p><%= link_to 'All expenses', user_personal_expenses_path(@user) %></p>
<h2>Amount: <%= @personal_expense.amount %></h2>
<h3>Category: <%= @personal_expense.category_name  %></h3>

<%= button_to 'Delete expense', user_personal_expenses_path(@user), { method: "delete" } %> #data: { confirm: 'Are you sure?' } 

