<html class="show">
<body class="show">

<div class="card center-card-div">
<h1><%= @personal_expense.name.humanize %></h1>
<ul class="nav-link-items group">
  <li><%= link_to 'All expenses', user_personal_expenses_path(@user) %></li>
</ul>
<p><b>Amount:</b> <%= @personal_expense.amount %></p>
<p><b>Category:</b> <%= @personal_expense.category_name%></p>

<%= button_to 'Delete expense', personal_expense_path(@personal_expense), { method: "delete" } %>
<div class="spacer"></div>

<%= button_to 'Edit expense', edit_user_personal_expense_path(@personal_expense.user_id, @personal_expense), { method: "get" } %> 
</div>
</body>
</html>

<!-- data: { confirm: 'Are you sure?' } -->

