<!DOCTYPE html>
<html>
  <head>
    <title>MoniesTrackerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |e| %>
        <li style="color: red;">
          <%= e %>
        </li>
      <% end %>
    </ul>

     <% if flash[:authorized] %>
      <p style="color: red;">
        <%= flash[:authorized] %>
      </p>
    <% end %>
  <% end %>

  <% if !logged_in? %>
   <div>
      <%= link_to 'log in', login_path %>
      <%= link_to 'sign up', signup_path %>
    </div>
    <% else %>
<nav class="nav-aligner">
<ul>
<li><span id="nav-name"> <%= 'Hello, ' + current_user.first_name + '!' %></span></li>
<li> <%= link_to "log out", logout_path, method: "post" %></li>
<li><%= link_to 'dashboard', user_path(current_user) %></li>
</ul>
</nav>
    <% end %>

    <%= yield %>
  </body>
  
</html>
